pip install flask
pip install python-dotenv
pip install azure-storage-blob
pip install randomname
pip install langchain
pip install doctran
pip install openai
pip install langdetect
pip install azure-cognitiveservices-vision-computervision